<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- ユーザーテーブルMapper -->
<mapper namespace="com.meetolio.backend.repository.UserRepository">

    <!-- メールアドレス検索 -->
    <select id="findByEmail">
        SELECT id, email, password_hash, created_at, updated_at
        FROM users
        WHERE email = #{email}
    </select>

    <!-- ユーザー作成 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users(email, password_hash)
        VALUES(#{email}, #{passwordHash})
    </insert>
</mapper>